.counter
    display: flex
    align-items: center

    .counter__amount
        font: 
            family: 'Dela Gothic One', cursive
            size: 40px
            weight: 400
            style: normal
        letter-spacing: -0.02em
        line-height: 40px
        color: #000000 
    