.button
    font: 
        family: 'Montserrat', sans-serif
        style: normal
        weight: 700
        size: 18px
    letter-spacing: -0.04em
    color: red
    background: transparent
    border: 0
    line-height: 25px
    cursor: pointer

    &:hover
        color: #2B788B
        text-decoration: underline

    &_small
        font-size: 16px
        line-height: 22px

