.sprint-game
    display: flex
    justify-content: center

    &__container
        justify-content: center
        flex-direction: column
        gap: 45px
        padding: 10px 0px 10px 0px
    
    &__stars
        padding-bottom: 10px

    &__progressBar
        width: 500px
        height: 500px
        display: flex
        gap: 40px

    &__words
        display: flex
        gap: 10px
        flex-direction: column
        align-items: center
        padding-bottom: 40px

.starFill path
    fill: #2B788B