.textbook
    display: flex
    justify-content: center

    &__select-mode
        display: flex
        width: 100%
        justify-content: space-between
    
    &__button-group
        display: flex
    

        button:first-of-type
            background-color: #F2D4DC
            
        button:last-of-type
            background-color: #2B788B