.textbook
    display: flex
    justify-content: center

    &__select-mode
        display: flex
        width: 100%
        justify-content: space-between
    
    &__button-group
        display: flex
        gap: 10px

    &__button
        border-radius: 14px
        padding: 14px 40px 14px 60px
        position: relative
        overflow: hidden
        background-color: #C3DCE3

        &:first-of-type
            background-color: #F2D4DC

        &_wrapper
            position: absolute
            height: 100%
            left: -5px

            img
                height: 100%

        &:hover
            background-color: #2B788B
            color: #FFFFFF
            text-decoration: none

    &__modal
        display: block
        
                