.showcase
    display: flex
    align-items: center
    justify-content: center
    padding: 90px 0px

    &_background_white
        background-color: #FFFFFF

    &__info
        display: flex
        flex-direction: column
        gap: 30px
        width: 60%

    &__button-group
        display: flex
        gap: 21px
    
    &__counter-group
        display: flex
