@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
@import './Headings.sass'
@import './Texts.sass'
@import './Labels.sass'

*
    margin:0
    padding:0
    box-sizing: border-box

.app
    background-color: #F6F5F4

.container
    width: 80%
    max-width: 1440px
    display: flex
    align-items: center
    justify-content: center

    &_reverse
        flex-direction: row-reverse