.heading
    color: #000000
    font-family: 'Dela Gothic One', cursive
    letter-spacing: -0.04em

.heading_1
    font-size: 56px
    line-height: 68px

.heading_2
    font-size: 48px
    line-height: 48px