.heading
    font:
        family: 'Dela Gothic One', cursive
        size: 56px
        weight: 400 
    color: #000000
    letter-spacing: -0.04em
    line-height: 56px

    &_2
        font-size: 48px
        line-height: 48px

    &_3
        font-size: 32px
        line-height: 32px
    
    &_4
        font-size: 24px
        line-height: 24px

    &_color_cyanDark
        color: #2B788B