.text
    font:
        family: 'Montserrat', sans-serif
        style: normal
        weight: 600
        size: 18px
    color: #757575
    letter-spacing: -0.04em
    line-height: 25px

    &_size16
        font-size: 16px
        line-height: 22px

    &_size14
        font-size: 14px
        line-height: 20px

    &_size12
        font-size: 12px
        line-height: 12px    

    &_spacing
        letter-spacing: 0.14em

    &_color
        color: #2B788B

    &_decoration
        text-decoration: none